/* reset code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Monospace;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* body styling starts */
/* header styling starts */
.head-nav{
    padding: 10px 0;
}

.head-nav, .head-nav .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-nav .nav-menu{
    flex-basis: 50%;
}

.pull{
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

.pull::before{
  font-family: "FontAwesome";
  content: "\f02e";
  color: #A0C63F;
  float: right;
  font-size: 13px;
  margin: 0;
  text-indent: 0;
}

.pull::after{
    font-family: "FontAwesome";
    content: "pull me";
    padding-right: 5px;
    color: #000;
    float: right;
    font-size: 11px;
    margin: 0;
    text-indent: 0;
    text-transform: uppercase;
  }
  

.head-nav .nav-menu li a{
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
}

.head-nav .nav-menu li a:hover{
    color: #A0C63F;
   
    transition: 1s ease;
}

/* banner styling */
.banner-img{
    position: relative;
}

.headline{
    width: 35%;
    position: absolute;
    top: 32%;
    left: 68%;
    color: #fff;
    line-height: 1.4;
    font-size: 30px;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    text-shadow: -1px 1px #627A2E;
}

.arrowleft, .arrowright{
    width: 20px;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 41%;
}

.arrowleft{
    left: 5%;
}

.arrowleft::before,.arrowright::before{
  font-family: "FontAwesome";
  color: #fff;
  float: left;
  font-size: 20px;
  margin: 0;
  line-height: 16px;
  text-indent: 0;
}

.arrowleft::before{
    content: "\f536";
}

.arrowright{
    right: 3%;
}

.arrowright::before{
  content: "\f531";
}

.arrowleft:hover,.arrowright:hover{
    background-color: #fff;
    border: 3px solid transparent;
    transition: 1s ease;
}

.arrowleft:hover::before,.arrowright:hover::before{
    color: #A0C63F;
}

/* business theme section styling  */
.business{
    position: relative;
    background-color: #E8E8E8;
    border-bottom: 3px solid #E8E8E8;
}

.businesshead{
    padding: 40px 0;
    border-bottom: 2px dashed #BFC0C6;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.business h2 span{
    color: #A0C63F;
}

/* logos section styling */
.logos{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.feature{
    display: inline-block;
    padding: 30px;
    border: 1px solid #BFC0C6;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: #A0C63F;
    text-indent: -9999px;
}

.feature-border{
    padding: 15px;
    border: 1px solid #BFC0C6;
    border-radius: 50%;
}

.feature::before{
    font-family: "FontAwesome";
    color: #fff;
    float: left;
    font-size: 75px;
    margin: 0;
    text-indent: 0;
  }

  .support::before{
    content: "\f1cd";
  }

  .callfeature::before{
    content: "\f095";
  }

  .web::before{
    content: "\f140";
  }

  .mobile::before{
    content: "\f10b";
  }

  .featurelogo h3{
    padding-top: 15px;
    font-size: 30px;
    color: #1B1B1B;
    text-align: center;
  }

  .headspan{
    padding-top: 10px;
    display: block;
    font-size: 20px;
  }

  /* porfolio styling    */
.porthead{
    padding: 20px 0;
    font-size: 25px;
    color: #252525;
    text-transform: uppercase;
}

.porthead span{
    color: #A0C63F;
}

.porthead::before,
.porthead::after {
    display: inline-block;
    content: "";
    border-top: 0.2rem dashed #BFC0C6;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.porthead::before{
    width: 3%;
}

.porthead::after {
    width: 56%;
}

.portfolio-cards, .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards{
    border: 1px solid #BFC0C6;
    flex-basis: 49%;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.card-content{
    flex-basis: 46%;
}

.card-content h3{
    padding: 10px 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: #252525
}

.card-content p{
    font-size: 12px;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    padding: 5px 5px;
    width: 28%;
    margin: 5px auto;
    background-color: #A0C63F;
    border: 1px solid transparent;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
  }
  
  .btn:hover {
    background-color: transparent;
    border: 1px solid #A0C63F;
    color: #A0C63F;
    transition: 1s ease;
  }

  /* advertisers section styling */
  .advertiser{
    padding-bottom: 50px;
}

.advertisehead{
    padding: 20px 0;
    font-size: 25px;
    color: #252525;
    text-transform: uppercase;
  }

.advertisehead span{
    color: #A0C63F;
}

.advertisehead::before,
.advertisehead::after {
    display: inline-block;
    content: "";
    border-top: 0.2rem dashed #BFC0C6;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.advertisehead::before{
    width: 3%;
}

.advertisehead::after {
    width: 56%;
}

.advertisersimg{
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.scroll{
    position: absolute;
    bottom: 0%;
    right: 13%;
    width: 12px;
    height: 12px;
    padding:17px;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-color: #A0C63F;
    border-radius: 50%;
    clear: both;
}

.scroll::before{
  font-family: "FontAwesome";
  content: "\f106";
  color: #fff;
  float: left;
  font-size: 15px;
  margin: 0;
  line-height: 16px;
  text-indent: 0;
}
